<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>order</title>
	<link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
	<div class="list">
		<a class="back" href="my_site.html" class="exit"><img src="img/iks.png" alt=""></a>
		<p class="listP">want to order a site?</p>
		<p class="ppp">send us a request and we will contact you as soon as possible</p>
		<div class="list1">
			<input placeholder="name" type="text">
			<input placeholder="phone number" type="text">
		</div>
		<div class="list2">
			<input placeholder="name company" type="text">
			<input placeholder="E-mail" type="email">
		</div>
		<div class="div_button"><button class="btn" >click to order</button></div>
	</div>
</body>
</html>